/EnglishExamPreparation/EnglishExamPreparation/bin
/EnglishExamPreparation/EnglishExamPreparation/obj
/EnglishExamPreparation/.vs
/EnglishExamPreparation/EnglishV2/*
/EnglishExamPreparation/English/*
